{% extends "catalog/catalog_detail.html" %}

{% block extrahead %}
  {{ block.super }}
  <!--script src="//api3.geo.admin.ch/loader.js"></script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.3/proj4.js"></script>
  <script src="http://epsg.io/21781.js"></script>
  <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>
{% endblock %}
