<script id="coords-{{ ref.pk }}" type="application/json">{{ coords|safe }}</script>
<div id="map-{{ ref.pk }}" class="map"></div>

<script type="text/javascript">
var iconStyle = new ol.style.Style({
    image: new ol.style.Icon(({
      anchor: [0.5, 0],
      anchorOrigin: 'bottom-left',
      opacity: 0.75,
      src: '{% static "img/map_marker.png" %}',
      scale: 0.1
   }))
});

function showOSMMap(coords) {
    var center = JSON.parse(coords);
    center = ol.proj.transform(center, 'EPSG:21781', 'EPSG:3857');
    var map = new ol.Map({
        target: 'map-{{ ref.pk }}',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: center,
            zoom: 14
        })
    });
    var vectorLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: [new ol.Feature({geometry: new ol.geom.Point(center)})]
        }),
        style: iconStyle
    });
    map.addLayer(vectorLayer);
}

function showGeoAdminMap(coords) {
    var center = JSON.parse(coords);
    var map = new ga.Map({
      target: 'map-{{ ref.pk }}',
      view: new ol.View({
        // 650, 500, 250, 100, 50, 20, 10, 5, 2.5, 2, 1, 0.5, 0.25, 0.1
        resolution: 20,
        center: center
      })
    });

    // Background layer
    var lyr1 = ga.layer.create('ch.swisstopo.pixelkarte-farbe');
    map.addLayer(lyr1);
    var vectorLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: [new ol.Feature({geometry: new ol.geom.Point(center)})]
        }),
        style: iconStyle
    });
    map.addLayer(vectorLayer);
}

var el = document.getElementById('coords-{{ ref.pk }}');
if (el.textContent || el.innerText) {
    showOSMMap(el.textContent || el.innerText);
}
</script>
